@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}


$pink:#fa1d86;
$blue:#224bcd;
$black: #302851;
$white: #fff;
$light-pink:#ffeaf4;
$light-blue:#e9edfb;
$light-color:#666;
$light-bg:#f5f5f5;
$border:.1rem solid rgba(0,0,0,.1);
$box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);



@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9% ;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: $light-blue;
    color: $blue;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.7rem;

    &:hover {
        color: $white;
        background: $blue;
    }
}



.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: $blue;

    .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: $white;

        i {
            color: $pink;
        }
    }

    .navbar {
        ul {
            list-style: none;

            li {
                position: relative;
                float: left;

                    &:hover ul {
                        display: block;
                    }
                a {
                    padding: 2rem;
                    display: block;
                    font-size: 1.7rem;
                    color: $white;

                    &:hover {
                        background: $pink;
                        
                    }
                }
                
                ul {
                    position: absolute;
                    left: 0;
                    width: 20rem;
                    background: $blue;
                    display: none;

                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}


#menu-btn {
    cursor: pointer;
    color: $white;
    font-size: 2.5rem;
    display: none;
}


.footer {
    background: $light-bg;
    
    .box-container {
        
        @include grid(25rem);

        .box {
            h3 {
                font-size: 2.2rem;
                padding: 1rem 0;
                color: $blue;
            }

            a {
                display: block;
                font-size: 1.4rem;
                padding: 1rem 0;
                color: $light-color;

                &:hover {
                    color: $pink;

                    i {
                        padding-right: 2rem;
                    }
                }

                i {
                    padding-right: .5rem;
                }
            }
        }
    }

    .credit {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color:$light-color;

        span {
            color: $pink;
        }
    }

}



.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image {
        flex: 1 1 42rem ;

        img {
            width: 100%;
        }
    }


    .content {
        flex: 1 1 42rem;

        h3 {
            color: $black;
            font-size: 5rem;
        }

        p {
            font-size: 1.4rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 2.5rem;
        }
    }
}


.category {
    @include grid(16rem);

    .box {
        border-radius: 1rem;
        background: $light-bg;
        padding: 4rem 3rem;
        text-align: center;

        img {
            height: 7rem;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 1.7rem;
            color: $blue;
        }
    }
}





////////  About.html
.heading {
    background: url(/src/images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    h3 {
        font-size: 3.5rem;
        color: $black;
    }

    p {
        font-size: 1.4rem;
        color: $light-color;
        padding-top: .5rem;

        a {
            padding-right: .5rem;
            color: $pink;

            &:hover {
                color: $blue;
            }
        }
    }
}

.about {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem; 

   .image {
    flex: 1 1 42rem;

    img {
        width: 100%;
    }
   }


   .content {
    flex: 1 1 42rem;

    h3 {
        color: $black;
        font-size: 4.5rem;
    }

    p {
        font-size: 1.4rem;
        padding: 1rem 0;
        color: $light-color;
        line-height: 2.5rem;
    }
   }
}

////////  About.html


///// course-1  
.course-1 {
    @include grid(31rem);

    .box {
        background: $light-bg;
        border-radius: 1rem;
        text-align: center;
        padding: 3rem 2rem;

        img {
            margin-bottom: 1rem;
            height: 8rem;
        }

        h3 {
            font-size: 2rem;
            color: $black;
            padding: .5rem 0;
        }
        
        p {
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2.5rem;
            padding: 1rem 0;
        }
    }
}


//// course-2

.course-2 {
    @include grid(39rem);

    .box {
        padding: 2rem;
        border-radius: 1rem;
        background: $light-bg;

        .image {
            margin-bottom: 2rem;
            text-align: center;

            img {
                height: 22rem;
            }
        }
    }


    .content {

        h3 {
            color: $black;
            line-height: 2;
            margin-top: 1.5rem;
            font-size: 2rem;
        }

        p {
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2.5;
            padding:1rem 0;
        }

        .icons {
            margin-top: 2rem;
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            a {
                font-size: 1.4rem;
                color: $light-color;

                &:hover {
                    color: $pink;
                }
                
                i {
                    padding-right: .5rem;
                    color: $pink;
                }
            }
        }
    }
}



















// ------------- Responsive  ---------------- // 

@media (max-width:1200px) {
   
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }
    
    .header {
        padding: 2rem;

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $blue;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100%);
            }

            ul li {
                width: 100%;

                ul {
                    width: 100%;
                    position: inherit;
                }
            }
        }
    }

    .about .content h3 {
        font-size: 3rem;
    }


}


@media (max-width:450px) {
    
    html {
        font-size: 50%;
    }
}