@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

section {
  padding: 3rem 9%; }

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcd;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem; }
  .btn:hover {
    color: #fff;
    background: #224bcd; }

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  background: #224bcd; }
  .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff; }
    .header .logo i {
      color: #fa1d86; }
  .header .navbar ul {
    list-style: none; }
    .header .navbar ul li {
      position: relative;
      float: left; }
      .header .navbar ul li:hover ul {
        display: block; }
      .header .navbar ul li a {
        padding: 2rem;
        display: block;
        font-size: 1.7rem;
        color: #fff; }
        .header .navbar ul li a:hover {
          background: #fa1d86; }
      .header .navbar ul li ul {
        position: absolute;
        left: 0;
        width: 20rem;
        background: #224bcd;
        display: none; }
        .header .navbar ul li ul li {
          width: 100%; }

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none; }

.footer {
  background: #f5f5f5; }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem; }
    .footer .box-container .box h3 {
      font-size: 2.2rem;
      padding: 1rem 0;
      color: #224bcd; }
    .footer .box-container .box a {
      display: block;
      font-size: 1.4rem;
      padding: 1rem 0;
      color: #666; }
      .footer .box-container .box a:hover {
        color: #fa1d86; }
        .footer .box-container .box a:hover i {
          padding-right: 2rem; }
      .footer .box-container .box a i {
        padding-right: .5rem; }
  .footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #666; }
    .footer .credit span {
      color: #fa1d86; }

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem; }
  .home .image {
    flex: 1 1 42rem; }
    .home .image img {
      width: 100%; }
  .home .content {
    flex: 1 1 42rem; }
    .home .content h3 {
      color: #302851;
      font-size: 5rem; }
    .home .content p {
      font-size: 1.4rem;
      color: #666;
      padding: 1rem 0;
      line-height: 2.5rem; }

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem; }
  .category .box {
    border-radius: 1rem;
    background: #f5f5f5;
    padding: 4rem 3rem;
    text-align: center; }
    .category .box img {
      height: 7rem;
      margin-bottom: 2rem; }
    .category .box h3 {
      font-size: 1.7rem;
      color: #224bcd; }

.heading {
  background: url(/src/images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center; }
  .heading h3 {
    font-size: 3.5rem;
    color: #302851; }
  .heading p {
    font-size: 1.4rem;
    color: #666;
    padding-top: .5rem; }
    .heading p a {
      padding-right: .5rem;
      color: #fa1d86; }
      .heading p a:hover {
        color: #224bcd; }

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem; }
  .about .image {
    flex: 1 1 42rem; }
    .about .image img {
      width: 100%; }
  .about .content {
    flex: 1 1 42rem; }
    .about .content h3 {
      color: #302851;
      font-size: 4.5rem; }
    .about .content p {
      font-size: 1.4rem;
      padding: 1rem 0;
      color: #666;
      line-height: 2.5rem; }

.course-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem; }
  .course-1 .box {
    background: #f5f5f5;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem; }
    .course-1 .box img {
      margin-bottom: 1rem;
      height: 8rem; }
    .course-1 .box h3 {
      font-size: 2rem;
      color: #302851;
      padding: .5rem 0; }
    .course-1 .box p {
      font-size: 1.4rem;
      color: #666;
      line-height: 2.5rem;
      padding: 1rem 0; }

@media (max-width: 1200px) {
  html {
    font-size: 55%; }
  section {
    padding: 3rem 2rem; } }

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block; }
  .header {
    padding: 2rem; }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #224bcd;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
      .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      .header .navbar ul li {
        width: 100%; }
        .header .navbar ul li ul {
          width: 100%;
          position: inherit; }
  .about .content h3 {
    font-size: 3rem; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; } }
